* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {}


/* HEADER START */
header {
  background-color: #111111;
  width: 100%;
  padding: 0 25px;
  /* padding: 15px 25px 13px 25px; */
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: #ffffff;
  font-size: 1.3rem;
  display: block;
  padding-top: 3px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  color: #eeeeee;
  display: block;
  margin-left: 19px;
  padding: 19px 0 16px 0;
}

header nav ul li a:hover {
  opacity: .8;
}
/* HEADER END */

/* FORM START */
form {
  background-color: #ffffff;
  width: 290px;
  max-width: 100%;
  padding: 1.5rem 1rem 0rem 1rem;
}

form div {
  margin-bottom: 1rem;
  width: 100%;
}

form div h3 {
  text-align: center;
  font-size: 1.5rem;
}

form div label {
  /* padding-bottom: 15rem; */
}

form div input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 7px 9px 6px 9px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 1rem;
}

form div input:focus {
  border: 1px solid #555555;
}

form div button[type='submit'] {
  background-color: #111111;
  color: #ffffff;
  font-size: 1.1rem;
  width: 100%;
  display: block;
  margin-top: 19px;
  padding: 9px 9px 8px 9px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s;
}

form div button[type='submit']:hover,
form div button[type='submit']:focus {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #111111;
}
/* FORM END */
