* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  line-height: 1.6;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {}


/* UTILITIES START */
.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: .7rem;
}

.mt-2 {
  margin-top: 1rem;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-4 {
  margin-top: 1.9rem;
}

.mt-5 {
  margin-top: 2.3rem;
}

.mr-1 {
  margin-right: .7rem;
}

.ml-1 {
  margin-left: .7rem;
}
/* UTILITIES END */


/* CONTAINER START */
.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 360px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 720px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .container {
    width: 840px;
    max-width: 100%;
  }
}

@media (min-width: 1080px) {
  .container {
    width: 1080px;
    max-width: 100%;
  }
}
/* CONTAINER END */


/* JUMBOTRON START */
.jumbotron {
  background-color: #dddddd;
  padding: 30px 35px;
  border-radius: 5px;
}

.jumbotron h1 {
  color: #333333;
  font-size: 3rem;
  margin-bottom: .7rem;
}

.jumbotron p {
  /* padding-top: .5rem; */
}
/* JUMBOTRON END */


/* BUTTON START */
.btn {
  background-color: #ffffff;
  color: #333333;
  display: inline-block;
  padding: 7px 17px 6px 17px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

.btn:hover {
  background-color: #f5f5f5;
  color: #333333;
}

.btn.btn-primary {
  background-color: rgb(23, 99, 212);
  color: #ffffff;
  border: 1px solid rgb(23, 99, 192);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background-color: rgb(13, 89, 182);
  color: #ffffff;
  border: 1px solid rgb(03, 79, 182);
}

.btn.btn-success {
  background-color: rgb(43, 153, 43);
  color: #ffffff;
  border: 1px solid rgb(43, 133, 43);
}

.btn.btn-success:hover,
.btn.btn-success:focus {
  background-color: rgb(33, 133, 33);
  color: #ffffff;
  border: 1px solid rgb(23, 123, 23);
}
/* BUTTON END */


/* HEADER START */
header {
  background-color: #111111;
  width: 100%;
  /* padding: 0 25px; */
  /* padding: 15px 25px 13px 25px; */
  margin-bottom: 1.5rem;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: lighter;
  display: block;
  padding-top: 3px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  color: #eeeeee;
  font-size: 1.1rem;
  font-weight: lighter;
  display: block;
  margin-left: 19px;
  padding: 23px 0 20px 0;
}

header nav ul li a:hover {
  opacity: .8;
}

.right-nav {}
/* HEADER END */

/* FORM START */
form {
  background-color: #ffffff;
  width: 290px;
  max-width: 100%;
  margin: auto;
  padding: 1.5rem 1rem 0rem 1rem;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

form div {
  margin-bottom: 1rem;
  width: 100%;
}

form div h3 {
  text-align: center;
  font-size: 1.5rem;
}

form div label {
  /* padding-bottom: 15rem; */
}

form div input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding: 7px 9px 6px 9px;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  font-size: 1rem;
}

form div input:focus {
  border: 1px solid #555555;
}

form div button[type='submit'] {
  background-color: #111111;
  color: #ffffff;
  font-size: 1.1rem;
  width: 100%;
  display: block;
  margin-top: 19px;
  padding: 9px 9px 8px 9px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color .3s;
}

form div button[type='submit']:hover,
form div button[type='submit']:focus {
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #111111;
}
/* FORM END */
